
// цвета
$white: #fff;
$darkGray: #3D5170;
$lightGray: #767F9D;
$blue: #007BFF;
$transparentGray:#818EA3;

$textColor: $darkGray;

// шрифты
$basefont: "San Francisco", Arial, sans-serif;
$basefontPoppins: "Poppins", Arial, sans-serif;
$basefontRoboto: "Roboto", Arial, sans-serif;




$headerHeight: 68px;

