@font-face {
  font-family: "San Francisco";
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 13px;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "San Francisco", Arial, sans-serif;
  color: #3D5170;
  background-color: #fff;
  line-height: 1.2;
  position: relative;
  word-wrap: break-word;
}

.dashboard-header, .overview__item {
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.comments-list__btn-approve, .comments-list__reject-btn, .comments-list__edit-btn, .new-draft-form__submit-btn, .chart-components__btn {
  color: #3D5170;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "San Francisco", Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
}
.comments-list__btn-approve:hover, .comments-list__reject-btn:hover, .comments-list__edit-btn:hover, .new-draft-form__submit-btn:hover, .chart-components__btn:hover {
  background-color: whitesmoke;
}
.new-draft-form__submit-btn {
  padding: 8px 15px;
  background-color: #007BFF;
  color: #fff;
}
.new-draft-form__submit-btn:hover {
  background-color: #0071eb;
}

select {
  background: #fff;
  border: 1px solid #E0E2E8;
  border-radius: 3px;
  outline: none;
  padding: 8px 14px;
  min-width: 110px;
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: 300;
  color: #767F9D;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid #BECAD6;
  font-size: 13px;
  color: #3D5170;
  padding: 9px 13px;
  resize: none;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
textarea::placeholder {
  color: #767F9D;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #8fa4b8;
}

b {
  color: #5A6169;
  font-weight: 700;
}

.body-container {
  display: grid;
  grid-template-areas: "logo header" "nav-dashboards main-content" "nav-dashboards foot";
  grid-template-columns: 285px 1fr;
  grid-template-rows: 68px 1fr 69px;
}
@media screen and (max-width: 1150px) {
  .body-container {
    grid-template-columns: 225px 1fr;
  }
}
@media (max-width: 640px) {
  .body-container {
    grid-template-columns: 2fr 4fr;
    grid-column: 1/3;
  }
}

.header {
  grid-area: header;
  background-color: #fff;
  box-shadow: 0 5px 19px rgba(90, 97, 105, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.header__left {
  flex-grow: 1;
}
.header__right {
  white-space: nowrap;
}

.nav-dashboards {
  grid-area: nav-dashboards;
  box-shadow: 0 2px 0 #979797;
}

.main-content {
  grid-area: main-content;
  background: #FBFBFB;
  padding: 27px;
}

.foot {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 26px 0 27px;
}
.foot__copyright-info__text {
  display: inline-block;
}

.search {
  display: block;
  padding: 0 26px 0;
}
.search__input {
  display: block;
  padding: 26px 0 26px 23px;
  line-height: 14px;
  border: none;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  font-size: 13px;
  background: url("../images/header-icons/search-icon.svg") left center no-repeat;
  background-size: 14px 14px;
}

.user-details {
  box-sizing: border-box;
  text-align: center;
  padding: 14px 22px 14px 26px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.user-details__img-avatar {
  display: inline-block;
  background-size: contain;
}
.user-details__name-user {
  position: relative;
  margin: 0 0 0 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  padding: 0 22px 0 0;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-details__name-user:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background: url("../images/header-icons/dropdown-icon.svg") 0 0 no-repeat;
  background-size: contain;
  width: 9px;
  height: 5px;
  margin: -2px 0 0 16px;
}

.notification {
  display: inline-flex;
  vertical-align: middle;
}
.notification__img-icon {
  border: 1px solid #CACEDB;
  border-top: none;
  border-bottom: none;
  width: 70px;
  height: 68px;
  display: inline-block;
  position: relative;
  background: url("../images/header-icons/notifications.svg") center no-repeat;
  background-size: 17px 21px;
}
.notification__img-icon:after {
  content: "";
  position: absolute;
  display: block;
  left: 11px;
  top: 11px;
  background: url("../images/header-icons/count.svg") 0 0 no-repeat;
  width: 14px;
  height: 14px;
  background-size: contain;
}

.logo {
  grid-area: logo;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 24px 48px 20px 48px;
  display: inline-block;
  box-sizing: border-box;
}
.logo__icon-img {
  background-size: contain;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 8px;
}
.logo__text {
  display: inline-block;
  vertical-align: center;
  line-height: 20px;
  color: #3D5170;
  font-family: "Poppins", Arial, sans-serif;
}

.menu-items {
  width: 100%;
  list-style: none;
}
.menu-items__item {
  vertical-align: bottom;
  border-top: 1px solid #E0E2E8;
  padding: 19px 0 20px 28px;
}
.menu-items__link {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.menu-items__img {
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  background-size: contain;
}
.menu-items__text {
  margin-left: 13px;
  color: #3D5170;
  font-family: "San Francisco", Arial, sans-serif;
  line-height: 18px;
  padding: 5px 0;
}

.nav-foot__list {
  margin: 0 -20px;
}
.nav-foot__item {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 20px;
}
.nav-foot__link {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #007BFF;
}
.nav-foot__link:visited {
  color: #007BFF;
}

.overview {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, minmax(140px, 1fr));
  grid-gap: 20px;
}
.overview__item {
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
}
.overview__content {
  box-sizing: border-box;
  position: relative;
  z-index: 20;
  padding: 28px 5px;
}
.overview__diagram {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
}
.overview__title {
  display: block;
  color: #767F9D;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 10px;
}
.overview__numeral {
  display: block;
  vertical-align: center;
  font-size: 33px;
  font-weight: 300;
  margin: 10px 0 8px;
}
.overview__percents {
  display: inline-block;
  position: relative;
  color: #17C671;
  padding: 0 0 0 15px;
}
.overview__percents:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-color: #17C671;
}
.overview__percents_red {
  color: #C4183C;
}
.overview__percents_red:before {
  top: 5px;
  transform: rotate(180deg);
  border-bottom: 4px solid #C4183C;
}
.overview__arrow-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.page-title__small-text {
  display: block;
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: 500;
  color: #767F9D;
}
.page-title__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #3D5170;
}

.device-component {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: 2fr 1fr;
}
.device-component__users {
  background: #C4183C;
}
.device-component__by-device {
  background: #C4183C;
}

.header-page-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header-page-menu__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "San Francisco", Arial, sans-serif;
  flex-grow: 1;
}
.header-page-menu__burger {
  position: relative;
}

.hamburger-menu {
  position: relative;
  display: none;
}
.hamburger-menu__btn {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.hamburger-menu__line {
  position: absolute;
  bottom: 0;
  right: 4px;
  width: 10px;
  height: 1.5px;
  background-color: #979797;
}
.hamburger-menu__line_first {
  top: 15px;
}
.hamburger-menu__line_second {
  top: 18px;
}
.hamburger-menu__list {
  display: none;
  overflow: hidden;
  text-align: center;
  left: -37px;
  top: 0;
  transform: translateY(100%);
}
.hamburger-menu__item {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px 3px;
  margin: 3px 0;
}
.hamburger-menu__link {
  display: block;
  width: 100%;
  color: #5A6169;
  font-size: 12px;
  text-decoration: none;
}

.dashboard {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}
.dashboard__col:first-child {
  grid-column: 1/9;
}
.dashboard__col:nth-child(2) {
  grid-column: 9/13;
}
.dashboard__col:nth-child(3) {
  grid-column: 1/5;
}
.dashboard__col:nth-child(4) {
  grid-column: 5/10;
}
.dashboard__col:nth-child(5) {
  grid-column: 10/13;
}

.dashboard-header {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-header__top {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E0E2E8;
}
.dashboard-header__title {
  font-weight: bold;
  font-size: 20px;
}
.dashboard-header__drag-drop-icon {
  position: relative;
  width: 10px;
  height: 5px;
}
.dashboard-header__drag-drop-icon:before, .dashboard-header__drag-drop-icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
}
.dashboard-header__drag-drop-icon:after {
  left: 0;
  top: 0;
}
.dashboard-header__drag-drop-icon:before {
  left: 0;
  bottom: 0;
}
.dashboard-header__content {
  align-content: end;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chart-components__block-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  box-sizing: border-box;
  background-color: #FBFBFB;
  padding: 13px 16px;
  border-bottom: 1px solid #E0E2E8;
}
.chart-components__block-controls_bottom {
  background: none;
  border-top: 1px solid #E0E2E8;
  border-bottom: none;
}
.chart-components__input-group {
  border: 1px solid #BECAD6;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}
.chart-components__date {
  padding: 7px 0;
  text-align: center;
  font-size: 13px;
  outline: none;
  border: none;
  border-right: 1px solid #BECAD6;
}
.chart-components__btn {
  box-sizing: border-box;
  width: 33px;
  vertical-align: baseline;
  background: #fff url("../images/calendar-icon.svg") center no-repeat;
  background-size: 12px 13px;
}
.chart-components__background-diagram {
  background-color: #fff;
  padding: 20px 15px;
  text-align: center;
}
.chart-components__img-diagram {
  max-width: 100%;
}

.new-draft-form {
  padding: 16px 20px 15px;
}
.new-draft-form__field-comments {
  margin: 22px 0 17px;
  min-height: 274px;
}
.comments-list {
  box-sizing: border-box;
  width: 100%;
}
.comments-list__item {
  border-bottom: 1px solid #E0E2E8;
  margin-bottom: 5px;
  padding: 16px 25px 17px 25px;
  list-style: none;
}
.comments-list__item:last-child {
  border-bottom: none;
}
.comments-list__comment-article {
  display: flex;
}
.comments-list__img {
  margin-right: 11px;
  vertical-align: center;
}
.comments-list__avatar-link {
  color: #5A6169;
  font-weight: 700;
  line-height: 13px;
  text-decoration: none;
  padding: 5px 0 10px;
}
.comments-list__comment-text {
  box-sizing: border-box;
  color: #868E96;
  font-weight: 300;
  line-height: 13px;
  padding: 10px 0 12px;
}
.comments-list__btn-group {
  box-sizing: border-box;
  font-size: 11px;
  display: flex;
}
.comments-list__btn-approve, .comments-list__reject-btn, .comments-list__edit-btn {
  border-radius: 0;
  border: 1px solid #BECAD6;
  padding: 5px 10px 6px 22px;
}
.comments-list__btn-approve:first-child, .comments-list__reject-btn:first-child, .comments-list__edit-btn:first-child {
  border-radius: 4px 0 0 4px;
}
.comments-list__btn-approve:last-child, .comments-list__reject-btn:last-child, .comments-list__edit-btn:last-child {
  border-radius: 0 4px 4px 0;
}
.comments-list__btn-approve {
  background: url("../images/button-icon/check-Icon.svg") 6px 7px no-repeat;
  background-size: 12px 12px;
}
.comments-list__reject-btn {
  background: url("../images/button-icon/reject-con.svg") 6px 7px no-repeat;
  background-size: 12px 12px;
}
.comments-list__edit-btn {
  background: url("../images/button-icon/edit-Icon.svg") 6px 7px no-repeat;
  background-size: 12px 12px;
}
.source-list__item {
  padding: 11px 17px 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #E0E2E8;
}
.source-list__item:last-child {
  border-bottom: none;
}
.source-list__text {
  color: #3D5170;
}
.source-list__count {
  color: #818EA3;
}

.buttons {
  color: #3D5170;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "San Francisco", Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
}
.buttons:hover {
  background-color: whitesmoke;
}
.buttons_blue {
  padding: 8px 15px;
  background-color: #007BFF;
  color: #fff;
}
.buttons_blue:hover {
  background-color: #0071eb;
}
.buttons__btn-report {
  border: none;
  color: #3D5170;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: left;
  font-size: 13px;
  white-space: nowrap;
}

.dashboard-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 17px 25px;
  border-top: 1px solid #E0E2E8;
}

/*# sourceMappingURL=style.css.map */
