@font-face {
  font-family: "San Francisco";
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 13px;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "San Francisco", Arial, sans-serif;
  color: #3D5170;
  background-color: #fff;
  line-height: 1.2;
  position: relative;
  word-wrap: break-word;
}

.body-container {
  display: grid;
  grid-template-areas: "logo header" "nav-dashboards main-content" "nav-dashboards foot";
  grid-template-columns: 285px 1fr;
  grid-template-rows: 68px 1fr 69px;
}

.header {
  grid-area: header;
  background-color: #fff;
  box-shadow: 0 5px 19px rgba(90, 97, 105, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.header__left {
  flex-grow: 1;
}
.header__right {
  white-space: nowrap;
}

.nav-dashboards {
  grid-area: nav-dashboards;
  box-shadow: 0 2px 0 #979797;
}

.main-content {
  grid-area: main-content;
  background: #FBFBFB;
  padding: 27px;
}

.foot {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 26px 0 27px;
}
.foot__copyright-info__text {
  display: inline-block;
}

.search {
  display: block;
  padding: 0 26px 0;
}
.search__input {
  display: block;
  padding: 26px 0 26px 23px;
  line-height: 14px;
  border: none;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  font-size: 13px;
  background: url("../images/header-icons/search-icon.svg") left center no-repeat;
  background-size: 14px 14px;
}

.user-details {
  box-sizing: border-box;
  text-align: center;
  padding: 14px 22px 14px 26px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.user-details__img-avatar {
  display: inline-block;
  background-size: contain;
}
.user-details__name-user {
  position: relative;
  margin: 0 0 0 14px;
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  padding: 0 22px 0 0;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-details__name-user:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background: url("../images/header-icons/dropdown-icon.svg") 0 0 no-repeat;
  background-size: contain;
  width: 9px;
  height: 5px;
  margin: -2px 0 0 16px;
}

.notification {
  display: inline-flex;
  vertical-align: middle;
}
.notification__img-icon {
  border: 1px solid #CACEDB;
  border-top: none;
  border-bottom: none;
  width: 70px;
  height: 68px;
  display: inline-block;
  position: relative;
  background: url("../images/header-icons/notifications.svg") center no-repeat;
  background-size: 17px 21px;
}
.notification__img-icon:after {
  content: "";
  position: absolute;
  display: block;
  left: 11px;
  top: 11px;
  background: url("../images/header-icons/count.svg") 0 0 no-repeat;
  width: 14px;
  height: 14px;
  background-size: contain;
}

.logo {
  grid-area: logo;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 24px 48px 20px 48px;
  display: inline-block;
  box-sizing: border-box;
}
.logo__icon-img {
  background-size: contain;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 8px;
}
.logo__text {
  display: inline-block;
  vertical-align: center;
  line-height: 20px;
  color: #3D5170;
  font-family: "Poppins", Arial, sans-serif;
}

.menu-items {
  width: 100%;
  min-width: 280px;
  list-style: none;
}
.menu-items__item {
  vertical-align: baseline;
}
.menu-items__link {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 20px 0 20px 28px;
  border-top: 1px solid #979797;
}
.menu-items__img {
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  background-size: contain;
}
.menu-items__text {
  margin-left: 13px;
  line-height: 30px;
  color: #3D5170;
  font-family: "San Francisco", Arial, sans-serif;
}

.nav-foot__list {
  margin: 0 -20px;
}
.nav-foot__item {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 20px;
}
.nav-foot__link {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #007BFF;
}
.nav-foot__link:visited {
  color: #007BFF;
}

.overview-content {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 20px;
}
.overview-content__item {
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.page-title__small-text {
  display: block;
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: 500;
  color: #767F9D;
}
.page-title__title {
  font-weight: 700;
  font-size: 24px;
  color: #3D5170;
}

/*# sourceMappingURL=style.css.map */
