<footer class="foot">
    <nav class="nav-foot">
        <ul class="nav-foot__list">
            <li class="nav-foot__item">
                <a class="nav-foot__link" href="#">Home</a>
            </li>
            <li class="nav-foot__item">
                <a class="nav-foot__link" href="#">Services</a>
            </li>
            <li class="nav-foot__item">
                <a class="nav-foot__link" href="#">About</a>
            </li>
            <li class="nav-foot__item">
                <a class="nav-foot__link" href="#">Products</a>
            </li>
            <li class="nav-foot__item">
                <a class="nav-foot__link" href="#">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="foot__copyright-info">
        <span class="foot__text">Copyright © 2018 Des</span>
        <span class="foot__text">DesignRevision</span>
    </div>
</footer>
