<header class="header">
    <div class="header__left">
        <div class="search">
            <input class="search__input" type="text" aria-label="search filed" name="" value=""
                   placeholder="Search for something…">
        </div>
    </div>
    <div class="header__right">
        <div class="notification">
            <span class="notification__img-icon"></span>
        </div>
        <div class="user-details">
            <img class="user-details__img-avatar" src="images/header-icons/user-avatar@2x.png"
                 srcset="images/header-icons/user-avatar@2x.png 2x" width="40" height="40" alt="avatar">
            <span class="user-details__name-user">Sierra Brooks</span>
        </div>
    </div>
</header>
