<aside class="nav-dashboards js-nav-dashboards">
    <button class="nav-dashboards__btn js-show-nav-dashboards"></button>

    <ul class="menu-items">
        <li class="menu-items__item menu-items__item_active">
            <a class="menu-items__link" href="index.html">
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/blog-Icon-pen.svg"></span>
                <span class="menu-items__text">Blog Dashboard</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="blog-posts.html">
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/blog-Posts-Icon.svg" role="img"></span>
                <span class="menu-items__text">Blog Posts</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="new-post.html">
                <!--<span class="menu-items__icon"></span>-->
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/new-Post-Icon.svg" role="img" ></span>
                <span class="menu-items__text">Add New Post</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="#">
                <!--<span class="menu-items__icon"></span>-->
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/forms-components-con.svg" role="img"></span>
                <span class="menu-items__text">Forms & Components</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="#">
                <!--<span class="menu-items__icon"></span>-->
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/overview-Icon.svg" role="img"></span>
                <span class="menu-items__text">Tables</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="#">
                <!--<span class="menu-items__icon"></span>-->
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/person-Icon.svg" role="img"></span>
                <span class="menu-items__text">User Profile</span>
            </a>
        </li>
        <li class="menu-items__item">
            <a class="menu-items__link" href="#">
                <!--<span class="menu-items__icon"></span>-->
                <span class="menu-items__img js-svg" data-src="/images/asaid-nav-icon/error-icon.svg" role="img"></span>
                <span class="menu-items__text">Errors</span>
            </a>
        </li>
    </ul>
</aside>
