@charset "UTF-8";
@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/SFUIText-Light.eot");
  src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 13px; }

body {
  font-family: "San Francisco", Arial, sans-serif;
  color: #3D5170;
  background-color: #fff;
  line-height: 1.2;
  position: relative;
  word-wrap: break-word; }

.overview__item, .dashboard-header, .post-preview, .aside-navigation__categories {
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1); }

.aside-navigation__btn {
  color: #3D5170;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "San Francisco", Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px; }
  .aside-navigation__btn:hover {
    background-color: whitesmoke; }
  .aside-navigation__btn {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff; }
    .aside-navigation__btn:hover {
      background-color: #0071eb; }

.btn, .new-draft-form__submit-btn, .comments-list__btn-approve, .comments-list__reject-btn, .comments-list__edit-btn, .post-preview__bookmark {
  color: #3D5170;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "San Francisco", Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px; }
  .btn_border, .comments-list__btn-approve, .comments-list__reject-btn, .comments-list__edit-btn, .post-preview__bookmark {
    border: 1px solid #BECAD6; }
  .btn:hover, .new-draft-form__submit-btn:hover, .comments-list__btn-approve:hover, .comments-list__reject-btn:hover, .comments-list__edit-btn:hover, .post-preview__bookmark:hover {
    background-color: whitesmoke; }
  .btn_blue, .new-draft-form__submit-btn {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff; }
    .btn_blue:hover, .new-draft-form__submit-btn:hover {
      background-color: #0071eb; }

select {
  background: #fff;
  border: 1px solid #E0E2E8;
  border-radius: 3px;
  outline: none;
  padding: 8px 14px;
  min-width: 110px;
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: 300;
  color: #767F9D; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid #BECAD6;
  font-size: 13px;
  color: #3D5170;
  padding: 9px 13px;
  resize: none; }
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  textarea::placeholder {
    color: #767F9D; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    border-color: #8fa4b8; }

b {
  color: #5A6169;
  font-weight: 700; }

.body-container {
  display: grid;
  grid-template-areas: "logo header" "nav-dashboards main-content" "nav-dashboards foot";
  grid-template-columns: 285px 1fr; }
  @media screen and (max-width: 1070px) {
    .body-container {
      display: grid;
      grid-template-columns: auto;
      justify-content: stretch;
      grid-template-areas: "logo" "header" "nav-dashboards" "main-content" "foot"; }
      .body-container .logo {
        text-align: left;
        align-content: start; }
      .body-container .header {
        display: flex;
        justify-content: center; } }
  @media screen and (max-width: 640px) {
    .body-container .logo {
      text-align: center;
      align-content: start; }
    .body-container .header {
      display: flex; } }

.header {
  grid-area: header;
  background-color: #fff;
  box-shadow: 0 5px 19px rgba(90, 97, 105, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap; }
  .header__left {
    flex: 1 1 0; }
  .header__right {
    white-space: nowrap; }
  @media screen and (max-width: 640px) {
    .header__left {
      flex-basis: 100%; }
    .header__right {
      flex-shrink: 0;
      flex-grow: 4;
      flex-basis: 100%; } }

.nav-dashboards {
  position: relative;
  grid-area: nav-dashboards; }
  .nav-dashboards__btn {
    display: none;
    position: absolute;
    right: -42px;
    top: 12px;
    width: 40px;
    height: 40px;
    border: 1px solid #007BFF;
    border-radius: 50px;
    padding: 8px;
    font-size: 12px;
    color: #ffffff;
    font-family: "San Francisco", Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    z-index: 5;
    background: #fff;
    outline: none;
    transition: all .2s ease-in-out; }
    .nav-dashboards__btn:before, .nav-dashboards__btn:after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.15); }
    .nav-dashboards__btn:before {
      left: 8px;
      top: 16px; }
    .nav-dashboards__btn:after {
      left: 8px;
      top: 22px; }
    .nav-dashboards__btn:hover {
      border-radius: 10px;
      background: #007BFF; }
      .nav-dashboards__btn:hover:before, .nav-dashboards__btn:hover:after {
        background-color: #fff; }
    @media screen and (max-width: 1070px) {
      .nav-dashboards__btn {
        display: block; } }
  @media screen and (max-width: 1070px) {
    .nav-dashboards {
      position: fixed;
      right: 100%;
      top: 0;
      width: 320px;
      background: #fff;
      height: 100%;
      z-index: 20;
      transition: transform .3s; }
      .nav-dashboards_show {
        transform: translateX(320px); } }

.main-content {
  grid-area: main-content;
  background: #FBFBFB;
  padding: 27px;
  display: grid; }
  @media screen and (max-width: 1070px), (pointer: coarse) {
    .main-content {
      display: grid; } }
  @media screen and (max-width: 640px) {
    .main-content {
      grid-auto-flow: row; } }

.foot {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 5px 26px 5px 27px; }
  @media screen and (max-width: 1070px) {
    .foot {
      display: block; } }
  @media screen and (max-width: 1070px) {
    .foot__copyright-info {
      text-align: center;
      padding: 10px 3px; } }
  .foot__text {
    display: inline-block; }

.search {
  display: block;
  padding: 0 26px 0; }
  .search__input {
    display: block;
    padding: 26px 0 26px 23px;
    line-height: 14px;
    border: none;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    background: url("../images/header-icons/search-icon.svg") left center no-repeat;
    background-size: 14px 14px; }
  @media screen and (max-width: 640px) {
    .search {
      padding: 0;
      text-align: center; }
      .search__input {
        text-align: center; } }

.user-details {
  box-sizing: border-box;
  text-align: center;
  padding: 14px 22px 14px 26px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .user-details__img-avatar {
    display: inline-block;
    background-size: contain; }
  .user-details__name-user {
    position: relative;
    margin: 0 0 0 14px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    padding: 0 22px 0 0;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .user-details__name-user:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      background: url("../images/header-icons/dropdown-icon.svg") 0 0 no-repeat;
      background-size: contain;
      width: 9px;
      height: 5px;
      margin: -2px 0 0 16px; }
  @media screen and (max-width: 640px) {
    .user-details {
      padding: 14px 22px 14px 66px; } }

.notification {
  display: inline-flex;
  vertical-align: middle; }
  .notification__img-icon {
    border: 1px solid #CACEDB;
    border-top: none;
    border-bottom: none;
    width: 70px;
    height: 68px;
    display: inline-block;
    position: relative;
    background: url("../images/header-icons/notifications.svg") center no-repeat;
    background-size: 17px 21px; }
    .notification__img-icon:after {
      content: "";
      position: absolute;
      display: block;
      left: 11px;
      top: 11px;
      background: url("../images/header-icons/count.svg") 0 0 no-repeat;
      width: 14px;
      height: 14px;
      background-size: contain; }

.logo {
  grid-area: logo;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 24px 48px 20px 48px;
  display: inline-block;
  box-sizing: border-box; }
  .logo__icon-img {
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 8px; }
  .logo__text {
    display: inline-block;
    vertical-align: center;
    line-height: 20px;
    color: #3D5170;
    font-family: "Poppins", Arial, sans-serif; }

.menu-items {
  width: 100%;
  list-style: none;
  position: relative; }
  .menu-items__item {
    position: relative;
    vertical-align: bottom;
    border-top: 1px solid #E0E2E8; }
    .menu-items__item:before {
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      top: 0;
      width: 4px;
      height: 100%; }
    .menu-items__item:hover {
      background-color: #FBFBFB; }
      .menu-items__item:hover:before {
        background-color: #007BFF; }
      .menu-items__item:hover path {
        fill: #007BFF; }
  .menu-items__link {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 19px 0 20px 28px; }
  .menu-items__img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-size: contain; }
    .menu-items__img svg {
      max-width: 100%;
      max-height: 100%; }
  .menu-items__text {
    margin-left: 13px;
    color: #3D5170;
    font-family: "San Francisco", Arial, sans-serif;
    line-height: 18px;
    padding: 5px 0; }

@media screen and (max-width: 1070px) {
  .nav-foot {
    text-align: center; } }

.nav-foot__list {
  margin: 0 -20px; }

.nav-foot__item {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 20px; }

.nav-foot__link {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #007BFF; }
  .nav-foot__link:visited {
    color: #007BFF; }

.overview {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, minmax(140px, 1fr));
  grid-gap: 20px; }
  @media screen and (max-width: 1070px) {
    .overview {
      grid-template-columns: repeat(2, minmax(50px, 1fr)); } }
  @media screen and (max-width: 650px) {
    .overview {
      grid-template-columns: repeat(1, minmax(140px, 1fr)); } }
  .overview__item {
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 9px;
    overflow: hidden; }
  .overview__content {
    box-sizing: border-box;
    position: relative;
    z-index: 20;
    padding: 28px 5px; }
  .overview__diagram {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%; }
  .overview__title {
    display: block;
    color: #767F9D;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 10px; }
  .overview__numeral {
    display: block;
    vertical-align: center;
    font-size: 33px;
    font-weight: 300;
    margin: 10px 0 8px; }
  .overview__percents {
    display: inline-block;
    position: relative;
    color: #17C671;
    padding: 0 0 0 15px; }
    .overview__percents:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-left-width: 5px;
      border-right-width: 5px;
      border-bottom-color: #17C671; }
    .overview__percents_red {
      color: #C4183C; }
      .overview__percents_red:before {
        top: 5px;
        transform: rotate(180deg);
        border-bottom: 4px solid #C4183C; }
  .overview__arrow-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box; }

.page-title__small-text {
  display: block;
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: 500;
  color: #767F9D; }

.page-title__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #3D5170; }

.device-component {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: 2fr 1fr; }
  .device-component__users {
    background: #C4183C; }
  .device-component__by-device {
    background: #C4183C; }

.header-page-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px; }
  .header-page-menu__title {
    font-size: 20px;
    font-weight: 700;
    font-family: "San Francisco", Arial, sans-serif;
    flex-grow: 1; }
  .header-page-menu__burger {
    position: relative; }

.hamburger-menu {
  position: relative;
  display: none; }
  .hamburger-menu__btn {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer; }
  .hamburger-menu__line {
    position: absolute;
    bottom: 0;
    right: 4px;
    width: 10px;
    height: 1.5px;
    background-color: #979797; }
    .hamburger-menu__line_first {
      top: 15px; }
    .hamburger-menu__line_second {
      top: 18px; }
  .hamburger-menu__list {
    display: none;
    overflow: hidden;
    text-align: center;
    left: -37px;
    top: 0;
    transform: translateY(100%); }
  .hamburger-menu__item {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 3px;
    margin: 3px 0; }
  .hamburger-menu__link {
    display: block;
    width: 100%;
    color: #5A6169;
    font-size: 12px;
    text-decoration: none; }

.dashboard {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr); }
  .dashboard__col:first-child {
    grid-column: 1/9; }
    @media screen and (max-width: 1070px) {
      .dashboard__col:first-child {
        grid-column: 1/7;
        justify-items: center;
        align-items: stretch;
        justify-content: space-between;
        align-content: center; } }
  .dashboard__col:nth-child(2) {
    grid-column: 9/13; }
    @media screen and (max-width: 1070px) {
      .dashboard__col:nth-child(2) {
        grid-column: 7/13; } }
  .dashboard__col:nth-child(3) {
    grid-column: 1/5; }
    @media screen and (max-width: 1070px) {
      .dashboard__col:nth-child(3) {
        grid-column: 1/6; } }
  .dashboard__col:nth-child(4) {
    grid-column: 5/10; }
    @media screen and (max-width: 1070px) {
      .dashboard__col:nth-child(4) {
        grid-column: 6/13; } }
  .dashboard__col:nth-child(5) {
    grid-column: 10/13; }
    @media screen and (max-width: 1070px) {
      .dashboard__col:nth-child(5) {
        grid-column: 5/13; } }
  @media screen and (max-width: 640px) {
    .dashboard__col:first-child {
      grid-column: 1/13; }
    .dashboard__col:nth-child(2) {
      grid-column: 1/13; }
    .dashboard__col:nth-child(3) {
      grid-column: 1/13; }
    .dashboard__col:nth-child(4) {
      grid-column: 1/13; }
    .dashboard__col:nth-child(5) {
      grid-column: 1/13; } }

.dashboard-header {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.4s ease-in-out; }
  .dashboard-header.gu-transit {
    opacity: .5; }
  .dashboard-header.gu-mirror {
    margin-top: 65px;
    display: block;
    box-shadow: none;
    position: fixed;
    opacity: 0.9;
    cursor: grabbing; }
  .dashboard-header__top {
    cursor: move;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E2E8; }
  .dashboard-header__title {
    font-weight: bold;
    font-size: 20px; }
  .dashboard-header__drag-drop-icon {
    position: relative;
    width: 10px;
    height: 5px; }
    .dashboard-header__drag-drop-icon:before, .dashboard-header__drag-drop-icon:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.15);
      position: absolute;
      display: block; }
    .dashboard-header__drag-drop-icon:after {
      left: 0;
      top: 0; }
    .dashboard-header__drag-drop-icon:before {
      left: 0;
      bottom: 0; }
  .dashboard-header__content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.chart-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .chart-components__block-controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: wrap;
    box-sizing: border-box;
    background-color: #FBFBFB;
    padding: 13px 16px;
    border-bottom: 1px solid #E0E2E8; }
    .chart-components__block-controls_bottom {
      background: none;
      border-top: 1px solid #E0E2E8;
      border-bottom: none; }
  .chart-components__input-group {
    border: 1px solid #BECAD6;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: stretch; }
  .chart-components__date {
    padding: 7px 0;
    text-align: center;
    font-size: 13px;
    outline: none;
    border: none;
    border-right: 1px solid #BECAD6;
    font-family: "San Francisco", Arial, sans-serif; }
  .chart-components__btn {
    box-sizing: border-box;
    width: 33px;
    vertical-align: baseline;
    background: #fff url("../images/calendar-icon.svg") center no-repeat;
    background-size: 12px 13px; }
  .chart-components__background-diagram {
    background-color: #fff;
    padding: 20px 15px;
    text-align: center; }
  .chart-components__img-diagram {
    max-width: 100%; }

.new-draft-form {
  padding: 16px 20px 15px; }
  .new-draft-form__field-comments {
    margin: 22px 0 17px;
    min-height: 274px; }

.comments-list {
  box-sizing: border-box;
  width: 100%; }
  .comments-list__item {
    border-bottom: 1px solid #E0E2E8;
    margin-bottom: 5px;
    padding: 16px 25px 17px 25px;
    list-style: none; }
    .comments-list__item:last-child {
      border-bottom: none; }
  .comments-list__comment-article {
    display: flex; }
  .comments-list__img {
    margin-right: 11px;
    vertical-align: center; }
  .comments-list__avatar-link {
    color: #5A6169;
    font-weight: 700;
    line-height: 13px;
    text-decoration: none;
    padding: 5px 0 10px; }
  .comments-list__comment-text {
    box-sizing: border-box;
    color: #868E96;
    font-weight: 300;
    line-height: 13px;
    padding: 10px 0 12px; }
  .comments-list__btn-group {
    box-sizing: border-box;
    font-size: 11px;
    display: flex; }
  .comments-list__btn-approve, .comments-list__reject-btn, .comments-list__edit-btn {
    border-radius: 0;
    padding: 5px 10px 6px 22px; }
    .comments-list__btn-approve:first-child, .comments-list__reject-btn:first-child, .comments-list__edit-btn:first-child {
      border-radius: 4px 0 0 4px; }
    .comments-list__btn-approve:last-child, .comments-list__reject-btn:last-child, .comments-list__edit-btn:last-child {
      border-radius: 0 4px 4px 0; }
  .comments-list__btn-approve {
    background: url("../images/button-icon/check-Icon.svg") 6px 7px no-repeat;
    background-size: 12px 12px; }
  .comments-list__reject-btn {
    background: url("../images/button-icon/reject-con.svg") 6px 7px no-repeat;
    background-size: 12px 12px; }
  .comments-list__edit-btn {
    background: url("../images/button-icon/edit-Icon.svg") 6px 7px no-repeat;
    background-size: 12px 12px; }

.source-list__item {
  padding: 11px 17px 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #E0E2E8; }
  .source-list__item:last-child {
    border-bottom: none; }

.source-list__text {
  color: #3D5170; }

.source-list__count {
  color: #818EA3; }

.buttons {
  color: #3D5170;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "San Francisco", Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px; }
  .buttons:hover {
    background-color: whitesmoke; }
  .buttons_blue {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff; }
    .buttons_blue:hover {
      background-color: #0071eb; }
  .buttons__btn-report {
    border: none;
    color: #3D5170;
    border-radius: 4px;
    padding: 8px 20px;
    text-align: left;
    font-size: 13px;
    white-space: nowrap; }

.dashboard-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 17px 25px;
  border-top: 1px solid #E0E2E8; }

.posts-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px; }
  .posts-list__item {
    margin: 12px;
    flex-basis: calc(25% - 24px); }
    @media screen and (max-width: 1310px) {
      .posts-list__item {
        flex-basis: calc(100% / 3 - 24px); } }
    .posts-list__item:nth-child(5), .posts-list__item:nth-child(6) {
      flex-basis: calc(50% - 24px); }
      @media screen and (max-width: 1310px) {
        .posts-list__item:nth-child(5), .posts-list__item:nth-child(6) {
          flex-basis: calc(100% / 3 - 24px); } }
    .posts-list__item:nth-child(7), .posts-list__item:nth-child(8), .posts-list__item:nth-child(9) {
      flex-basis: calc((100% / 3) - 24px); }
      @media screen and (max-width: 640px) {
        .posts-list__item:nth-child(7), .posts-list__item:nth-child(8), .posts-list__item:nth-child(9) {
          flex-grow: 2; } }
  @media screen and (max-width: 600px) {
    .posts-list {
      flex-wrap: wrap;
      flex-direction: column;
      flex: 1 1 250px; } }

.post-preview {
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  background-color: #fff; }
  .post-preview__picture {
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 1310px) {
      .post-preview__picture {
        max-height: 182px; } }
  .post-preview__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .post-preview__category {
    color: #fff;
    padding: 5px 11px;
    border-radius: 10px;
    background-color: #212529;
    position: absolute;
    right: 15px;
    top: 15px;
    text-transform: uppercase;
    font-size: 10px; }
    .post-preview__category_background-azure {
      background-color: #00B8D8; }
    .post-preview__category_background-purple {
      background-color: #674EEC; }
    .post-preview__category_background-orange {
      background-color: #FFB400; }
    .post-preview__category_without-category {
      display: none; }
  .post-preview__content {
    position: relative; }
  .post-preview__title {
    padding: 15px 20px 15px; }
  .post-preview__title-link {
    font-size: 20px;
    text-decoration: none;
    color: #2B394F; }
    @media screen and (max-width: 1310px) {
      .post-preview__title-link {
        font-size: 15px; } }
  .post-preview__text {
    padding: 0 20px;
    font-size: 13px;
    line-height: 16px;
    color: #868E96;
    margin: 0 0 13px; }
  .post-preview__footer {
    padding: 0 20px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .post-preview__user {
    display: flex;
    align-items: center; }
  .post-preview__user-pic-wrap {
    display: inline-block;
    position: absolute;
    left: 18px;
    top: -32px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 10px rgba(90, 97, 105, 0.5); }
  .post-preview__user-pic {
    display: block;
    object-fit: contain; }
  .post-preview__username {
    font-size: 13px;
    color: #5A6169;
    line-height: 15px;
    display: none; }
  .post-preview__published {
    color: #868E96;
    font-size: 13px; }
  .post-preview__buttons {
    display: none; }
  .post-preview__bookmark {
    box-sizing: border-box;
    padding: 6px 14px 6px 8px; }
  .post-preview__bookmark-flag-icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px; }
  .post-preview__bookmark-text {
    display: inline-block;
    line-height: 18px;
    font-family: "San Francisco", Arial, sans-serif; }
  .post-preview__text-footer {
    display: none;
    color: #868E96; }
  .post-preview__username-foot, .post-preview__category-foot {
    color: #3D5170; }
  .post-preview_vertical {
    display: grid;
    grid-template-columns: 1fr 2fr; }
    @media screen and (max-width: 1310px) {
      .post-preview_vertical {
        display: block;
        width: 100%; } }
    .post-preview_vertical .post-preview__category {
      top: 15px;
      left: 20px;
      right: auto; }
      @media screen and (max-width: 1310px) {
        .post-preview_vertical .post-preview__category {
          right: 15px;
          top: 15px;
          left: auto; } }
    .post-preview_vertical .post-preview__user-pic-wrap {
      top: auto;
      bottom: 24px;
      left: 20px; }
      @media screen and (max-width: 1310px) {
        .post-preview_vertical .post-preview__user-pic-wrap {
          left: 18px;
          top: -32px;
          bottom: auto; } }
    .post-preview_vertical .post-preview__content {
      position: static; }
      @media screen and (max-width: 1310px) {
        .post-preview_vertical .post-preview__content {
          position: relative; } }
  .post-preview_no-image .post-preview__user-pic-wrap {
    position: static; }
  .post-preview_no-image .post-preview__username {
    display: block; }
  .post-preview_no-image .post-preview__user-info {
    margin: 0 0 0 11px; }
  .post-preview_no-image .post-preview__published {
    font-size: 10px; }
  .post-preview_no-image .post-preview__footer {
    border-top: 1px solid #E1E5EB;
    padding-top: 13px; }
  .post-preview_no-image .post-preview__picture {
    display: none; }
  .post-preview_no-image .post-preview__buttons {
    display: block; }
  .post-preview_without-category .post-preview__footer {
    border-top: 1px solid #E1E5EB;
    padding-top: 13px; }
  .post-preview_without-category .post-preview__category {
    display: none; }
  .post-preview_without-category .post-preview__user {
    display: none; }
  .post-preview_without-category .post-preview__text-footer {
    display: block; }

.newpost-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 27px; }
  @media screen and (max-width: 1200px) {
    .newpost-content {
      grid-gap: 17px; } }
  @media screen and (max-width: 1070px) {
    .newpost-content {
      grid-template-columns: auto; } }
  @media screen and (max-width: 640px) {
    .newpost-content {
      display: grid;
      grid-template-columns: auto; } }

.post-form {
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding: 16px; }
  .post-form__wrap {
    margin-top: 25px; }
    .post-form__wrap strong {
      font-weight: bold; }
    .post-form__wrap em {
      font-style: italic; }
    .post-form__wrap u {
      text-decoration: underline; }
  .post-form__input-post-title {
    padding: 13px;
    border: 1px solid #E0E2E8; }
  .post-form__col {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
  .post-form__input-post-name {
    padding: 13px;
    display: inline-block; }
  .post-form__chosen {
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 13px;
    border: 1px solid #BECAD6;
    outline: 0;
    color: #7b7b7b;
    -webkit-appearance: none;
    /*убираем галочку в webkit-браузерах*/
    -moz-appearance: none;
    /*убираем галочку в Mozilla Firefox*/ }
    .post-form__chosen:after {
      content: '';
      display: block;
      position: absolute;
      top: 38px;
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none;
      /*активизируем показ списка при нажатии на стрелку*/
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #7b7b7b transparent transparent transparent; }
  .post-form__select-arrow {
    display: block;
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    /*активизируем показ списка при нажатии на стрелку*/
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent; }
  .post-form__comment {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    outline: none;
    border-radius: 4px;
    font-size: 13px;
    color: #3D5170;
    padding: 9px 13px;
    resize: none; }

#editor-container {
  height: 475px; }

.aside-navigation {
  width: 100%; }
  .aside-navigation__actions {
    border-radius: 9px;
    overflow: hidden;
    position: relative;
    background-color: #fff; }
  .aside-navigation__categories {
    margin-top: 27px;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
    background-color: #fff; }
  .aside-navigation__header {
    padding: 17px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E2E8; }
  .aside-navigation__title {
    font-size: 20px;
    line-height: 21px; }
  .aside-navigation__drag-drop-icon {
    position: relative;
    width: 10px;
    height: 5px; }
    .aside-navigation__drag-drop-icon:before, .aside-navigation__drag-drop-icon:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.15);
      position: absolute;
      display: block; }
    .aside-navigation__drag-drop-icon:before {
      left: 0;
      bottom: 0; }
    .aside-navigation__drag-drop-icon:after {
      left: 0;
      top: 0; }
  .aside-navigation__list {
    padding: 5px 15px; }
  .aside-navigation__item {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    padding: 10px 0; }
  .aside-navigation__text {
    display: inline-block;
    line-height: 15px;
    vertical-align: baseline; }
  .aside-navigation__img {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px; }
  .aside-navigation__edit-text {
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    color: #007BFF; }
  .aside-navigation__color {
    color: #5A6169; }
    .aside-navigation__color_green {
      color: #17C671; }
    .aside-navigation__color_yellow {
      color: #FFB400; }
  .aside-navigation__footer {
    background-color: rgba(151, 151, 151, 0.1);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px 10px 15px; }
  .aside-navigation__btn_draft {
    background-color: #fff;
    border: 1px solid #007BFF;
    color: #007BFF;
    padding: 9px 10px 9px 11px;
    transition: .5s; }
    .aside-navigation__btn_draft:hover {
      transition: .5s;
      background-color: #fff; }
  .aside-navigation__btn_publish {
    background-color: #007BFF; }
  .aside-navigation__checkbox-input {
    position: absolute;
    right: 100%;
    top: 100%; }
    .aside-navigation__checkbox-input:checked + .aside-navigation__checkbox {
      background-color: #007BFF;
      border: 1px solid #007BFF; }
      .aside-navigation__checkbox-input:checked + .aside-navigation__checkbox:before {
        display: block; }
  .aside-navigation__label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0 0 0 22px; }
  .aside-navigation__checkbox {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #BECAD6; }
    .aside-navigation__checkbox:before {
      display: none;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 8px;
      height: 6px;
      background: url("../images/button-icon/check-icon-blue.svg") 0 0 no-repeat;
      background-size: contain; }
  .aside-navigation__img-flach-card {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 3px; }
  .aside-navigation__img-file-card {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 3px; }
  .aside-navigation__authors-photos {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px; }
    @media screen and (max-width: 1200px) {
      .aside-navigation__authors-photos {
        align-content: center;
        display: grid;
        grid-gap: 10px;
        justify-items: end;
        grid-auto-columns: minmax(39px, 40px); } }
    @media screen and (max-width: 1070px) {
      .aside-navigation__authors-photos {
        display: grid;
        grid-auto-flow: column;
        justify-items: end;
        align-items: center; } }
  .aside-navigation__author-photo {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden; }
  .aside-navigation__author-photo-radio {
    right: 100%;
    bottom: 100%;
    position: absolute; }
    .aside-navigation__author-photo-radio:checked + .aside-navigation__author-photo-img {
      border-color: #007BFF; }
  .aside-navigation__author-photo-img {
    transition: border-color .3s;
    border: 2px solid #fff;
    border-radius: 50%; }
  .aside-navigation__author-name-field-wrap {
    padding: 10px 15px 20px; }

.background-picture {
  width: 100%; }
  .background-picture__post-background {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; }
  .background-picture__background-picture {
    text-align: center;
    position: relative;
    overflow: hidden; }
  .background-picture__background-picture-input {
    right: 100%;
    bottom: 100%;
    position: absolute; }
    .background-picture__background-picture-input:checked + .background-picture__img {
      border-color: #007BFF; }
  .background-picture__img {
    box-sizing: border-box;
    max-width: 100%;
    transition: border-color .3s;
    border: 2px solid #fff;
    border-radius: 6px; }
