
// цвета
$white: #fff;
$darkGray: #3D5170;
$lightGray: #767F9D;
$light: #868E96;
$blue: #007BFF;
$transparentGray: #818EA3;

$textColor: $darkGray;

// шрифты
$basefont: "San Francisco", Arial, sans-serif;
$basefontPoppins: "Poppins", Arial, sans-serif;
$basefontRoboto: "Roboto", Arial, sans-serif;

$headerHeight: 68px;

//фоновый-цвет
$azure: #00B8D8;
$purple: #674EEC;
$orange: #FFB400;

