.chart-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__block-controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: wrap;
    box-sizing: border-box;
    background-color: #FBFBFB;
    padding: 13px 16px;
    border-bottom: 1px solid #E0E2E8;

    &_bottom {
      background: none;
      border-top: 1px solid #E0E2E8;
      border-bottom: none;
    }
  }

  &__input-group {
    border: 1px solid #BECAD6;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: stretch;

  }

  &__date {
    padding: 7px 0;
    text-align: center;
    font-size: 13px;
    outline: none;
    border: none;
    border-right: 1px solid #BECAD6;
    font-family: $basefont;

    &_start {
    }

    &_end {
    }
  }

  &__btn {
    box-sizing: border-box;
    width: 33px;
    vertical-align: baseline;
    background: $white url("../images/calendar-icon.svg") center no-repeat;
    background-size: 12px 13px;
  }

  &__buttons {

  }

  &__background-diagram {
    background-color: $white;
    padding: 20px 15px;
    text-align: center;
  }

  &__img-diagram {
    max-width: 100%;
  }
}
