.menu-items {
  width: 100%;
  list-style: none;

  &__item {
    vertical-align: bottom;
    border-top: 1px solid #E0E2E8;
    padding: 19px 0 20px 28px;
  }

  &__link {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    text-decoration: none;

  }

  &__img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-size: contain;
  }

  &__text {
    margin-left: 13px;
    //color: #3D5170;
    color: $textColor;
    font-family: $basefont;
    line-height: 18px;
    padding: 5px 0;

  }

}
