.nav-foot {
  &__list {
    margin: 0 -20px;

  }

  &__item {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 20px;
  }

  &__link {
    text-decoration: none;
    font-family: $basefontRoboto;
    font-weight: 500;
    color: $blue;

    &:visited {
      color: $blue;

    }
  }


}
