.page-title{

  &__small-text{
    display: block;
    font-family: $basefont;
    font-weight: 500;
    color: #767F9D;
  }
  &__title{
    font-weight: 700;
    //font-family: $basefont;
    font-size: 24px;
    color: $textColor;

  }
}
