.body-container {
  display: grid;
  grid-template-areas: "logo header" "nav-dashboards main-content" "nav-dashboards foot";
  grid-template-columns: 285px 1fr;



  @media screen and (max-width: 1070px) {
    display: grid;
    grid-template-columns: auto;
    //grid-template-rows: auto;
    justify-content: stretch;
    grid-template-areas: "logo" "header" "nav-dashboards" "main-content" "foot";

    .logo {
      text-align: left;
      align-content: start;
    }
    .header {
      display: flex;
      justify-content: center;

    }
    //.main-content {}

  }
  @media screen and (max-width: 640px) {




    .logo {
      text-align: center;
      align-content: start;
    }
    .header {
      display: flex;
      //justify-content: start;

    }
  }


}
