.dashboard-footer{
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 17px 25px;
  border-top: 1px solid #E0E2E8;
  //@media screen  and (max-width: 640px){
  //  flex-flow: column;
  //  justify-content: stretch;
  //  border-left: 1px solid #E0E2E8;
  //  padding: 16px 25px 17px 20px;
  //
  //
  //
  //  flex: 1 1 0;
  //
  //}

}
