.foot {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 26px 0 27px;

  @media screen and (max-width: 1070px) {
    display: block;
  }
  &__copyright-info {

    @media screen and (max-width: 1070px) {
      text-align: center;
      padding: 10px 3px;
    }
  }
  &__text {
    display: inline-block;

  }
}
