.header {
  grid-area: header;
  background-color: $white;
  //box-shadow: 0 5px 19px rgba(90, 97, 105, 0.12);
  box-shadow: 0 5px 19px  rgba(#5A6169, 0.12);
  //box-shadow: 0 2px 0  rgba(#E1E5EB, 0.10);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;


  &__left {
    //flex-grow: 1;
    flex: 1 1 0;
  }
  &__right {
    white-space: nowrap;
    }

  @media screen and (max-width: 640px){
    &__left {
      flex-basis: 100%;
    }
    &__right {
      flex-shrink: 0;
      flex-grow: 4;
      flex-basis: 100%;


    }

  }
}
