.post-form{
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  background-color: $white;
  padding: 16px;

  &__wrap{
    //border: 1px solid #E0E2E8;
    margin-top: 25px;

    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }
    u {
      text-decoration: underline;
    }
  }

  &__input-post-title{
    padding: 13px;
    border: 1px solid #E0E2E8;
  }
  &__col{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  &__input-post-name{
    padding: 13px;
    display: inline-block;


  }
  &__chosen{
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 13px;
    border: 1px solid #BECAD6;
    outline: 0;
    color: #7b7b7b;
    -webkit-appearance: none; /*убираем галочку в webkit-браузерах*/
    -moz-appearance: none; /*убираем галочку в Mozilla Firefox*/

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 38px;
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #7b7b7b transparent transparent transparent;

    }
  }

  &__select-arrow {
    display: block;
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
  &__symbol{}
  &__comment{
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    outline: none;
    border-radius: 4px;
    //border: 1px solid #BECAD6;
    font-size: 13px;
    color: #3D5170;
    padding: 9px 13px;
    resize: none;
  }
  @media screen and (max-width: 1070px) {

  }

    @media screen and (max-width: 640px) {
    //height: auto;

  }
}

#editor-container {
  height: 475px;



}
